@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is just a prototype for testing the relationship between Tip and Tag model classes.</p>
    <p>
        <a asp-controller="Tips">Manage Tips</a><br />
        <a asp-controller="Tags">Manage Tags</a>
    </p>
</div>
